openapi: 3.0.1
info:
  title: Continuant Voice Service APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/v1/continuant
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/v1/continuant
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/v1/continuant
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /servicevoice/{operation}:
    post:
      tags:
        - Continuant Voice Service 
      summary: Continuant sends data to APIGEE api proxy
      description: >-
        This API is for Continuant data select and update
      parameters:
        - in: path
          name: operation
          description: path suffix for target
          required: true
          schema:
            type: string
            enum:
            - select
            - update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/selectRequest'
                  - $ref: '#/components/schemas/updateRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    selectRequest:
      type: object
    updateRequest:
      type: object
      description: Payroll request object
      properties:
        UniqueID:
          type: string
          example: U1034421
        EnterpriseVoiceEnabled:
          type: boolean
          example: true
        DID:
          type: string
          example: 
        OnlineVoiceRoutingPolicy:
          type: string
          example: AMER-All-Calls-VP
        OnlineDialoutPolicy:
          type: string
          example: tag:DialoutCPCandPSTNInternational  
        PhoneType:
          type: string
          example: desktopclient 
